@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f9f9;
}

.nav-custom {
  background-color: #f4f9f9;
}

.contact {
  background-color: #69B0D3;
  border-radius: 50px;
  margin-left: 50px !important;
  transition: .3s;
}

.contact:hover {
  background-color: #A4D5EB;
}

.contact-mobile {
  display: none;
}

.add-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.13);
  transition: .3s;
}

.nav-name {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #55B2DD !important;
  margin-right: 150px;
}

.nav-link {
  color: #69B0D3 !important;
  font-weight: 300;
}

.nav-link:active {
  color: #69B0D3 !important;
  font-weight: 300;
  border-bottom: #69B0D3 3px solid;
}

.nav-button {
  color: white !important;
}

.nav-name-sm {
  font-family: 'Mulish', sans-serif;
  font-weight: lighter;
  color: #69B0D3;
  font-size: 16px;
  z-index: 2;
}

/* first section */
.isi {
  margin-top: 150px;
}

.paraf-title {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight: 600;
}

.sub-paraf {
  position: relative;
  color: #5E5E5E;
  font-size: 20px;
}

.logo-himti {
  width: 400px;
}

.button-group {
  margin-top: 90px;
}

.get-more,
.our-service {
  background-color: #69B0D3;
  padding: 15px 70px;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

.get-more:hover,
.our-service:hover {
  background-color: #A4D5EB;
  color: white;
}

.web,
.desain,
.mobile,
.ui {
  background-color: #69B0D3;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
}

.web:hover,
.desain:hover,
.mobile:hover,
.ui:hover {
  background-color: #A4D5EB;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
}

.item-logo {
  width: 40px;
  margin-top: 16px;
  margin-left: 3px;
}

/* second section */
#profile {
  background-color: #E0F5F6;
  margin-top: 80px;
  padding: 100px 0;
}

.section-title {
  font-family: 'Mulish';
  font-size: 26px;
  font-weight: 700;
  color: #55B2DD;
}

.section-name {
  font-family: 'Raleway';
  font-size: 42px;
  font-weight: 600;
  color: #171717;
}

.section-article {
  color: #5E5E5E;
  text-align: justify;
  font-size: 18px;
}

.profile-img {
  max-width: 100%;
}

.profile-img-mobile {
  display: none;
}

/* third section */
#information {
  padding: 100px 0;
}

.information-img {
  margin-top: 30px;
  max-width: 100%;
}

/* forth section */
#articles {
  margin-top: 40px;
  padding: 100px 0;
  background-color: #69B0D3;
}

.articles-title {
  font-family: 'Mulish';
  font-size: 26px;
  font-weight: 700;
  color: #F4F9F9;
}

.articles-name {
  font-family: 'Raleway';
  font-size: 42px;
  font-weight: 600;
  color: white;
}

.articles-article {
  color: #E0F5F6;
  text-align: justify;
  font-size: 18px;
}

.card-overlay {
  position: relative;
}

.img-card-overlay {
  border-radius: 20px;
  max-width: 100%;
}

.card-overlay-title {
  position: absolute;
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 16px;
  color: white;
  top: 305px;
  left: 20px;
}

.card-overlay-date {
  position: absolute;
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.541);
  top: 280px;
  left: 20px;
}

.btn-load-more {
  font-family: 'Raleway';
  font-size: 18px;
  padding: 10px 30px;
  border: 0;
  transition: .3s;
}

.btn-load-more:hover {
  background-color: #A4D5EB;
  color: white;
}

/* fifth section */
#documentations {
  padding: 100px 0;
  background-color: #F4F9F9;
}

.btn-more-activities {
  padding: 10px 30px;
  margin-top: 60px;
  border: 0;
  font-family: 'Raleway';
  color: white;
  background-color: #69B0D3;
  transition: .3s;
}

.btn-more-activities:hover {
  background-color: #A4D5EB;
}

.img-activities {
  max-width: 40%;
  border-radius: 10%;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.432);
}

.activities-group {
  margin-left: 5em;
}

.mobile-button {
  display: none;
}

/* footer */
#footer {
  background-color: #E0F5F6;
  padding: 30px 0;
  border-top: 15px solid #69B0D3;
}

.footer-title {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 24px;
  color: #55B2DD;
}

.img-footer {
  object-fit: cover;
  max-width: 40%;
}

.sub-footer-title {
  font-family: 'Mulish';
  font-size: 18px;
  font-weight: bold;
}

.sub-footer-item {
  font-size: 14px;
  list-style-type: none;
  margin-bottom: 5px;
}

.sub-footer-item>a {
  text-decoration: none;
  color: #5E5E5E;
}

.sub-footer-item-group {
  padding: 0;
}

.footer-text-mobile {
  display: none;
}

.social-media-group {
  display: flex;
  justify-content: end;
}

.social-media {
  margin-left: 10px;
  color: black;
  transition: .3s;
}

.social-media:hover {
  color: #55B2DD;
}

@media screen and (min-width: 960px) {
  .nav-custom {
    height: 80px;
  }
}

/* responsive */
@media screen and (max-width: 512px) {

  /* navbar */
  .custom-toggler.navbar-toggler {
    border: 0;
  }

  .custom-toggler.navbar-toggler {
    box-shadow: none;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105, 176, 211, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .contact-mobile {
    display: block;
    background-color: #69B0D3;
    border-radius: 50px;
    transition: .3s;
    text-align: center;
  }

  .contact-mobile:hover {
    background-color: #A4D5EB;
  }

  .contact {
    display: none;
  }


  /* first section */
  .isi {
    margin-top: 100px;
  }

  .paraf-title {
    font-size: 30px;
  }

  .sub-paraf {
    font-weight: 300;
    font-size: 15px;
  }

  .our-service,
  .get-more {
    font-size: 15px;
    padding: 10px 30px;
    margin-right: 15px;
  }

  .button-group {
    margin: 30px 0;
  }

  .icon-group {
    width: 80%;
  }

  .web,
  .desain,
  .mobile,
  .ui {
    background-color: #69b0d381;
    width: 60px;
    height: 60px;
    position: relative;
  }

  .item-logo {
    width: 38px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  /* second section */
  #profile,
  #information,
  #articles {
    padding: 40px 0;
  }

  .section-title,
  .articles-title {
    font-size: 15px;
  }

  .section-name,
  .articles-name {
    font-size: 30px;
  }

  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile>.section-article {
    order: 2;
  }

  .profile-img-mobile {
    display: block;
    max-width: 100%;
    order: 1;
    margin: 10px 0;
  }

  .profile-img {
    display: none;
  }

  .section-article {
    font-size: 15px;
  }

  /* forth section */
  .articles-article {
    font-size: 15px;
  }

  .btn-load-more {
    padding: 10px 30px;
    font-size: 15px;
  }

  .card-overlay-date,
  .card-overlay-title {
    display: none;
  }

  /* fifth section */
  #documentations {
    padding: 40px 0;
  }

  .btn-more-activities {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .img-activities {
    max-width: 30%;
  }

  .img-activities.top {
    margin-right: 2em;
  }

  .img-activities.bottom {
    margin-left: 2em;
  }

  .activities-group {
    margin-left: 0;
  }

  .desktop-button {
    display: none;
  }

  .mobile-button {
    display: block;
    margin: 30px auto;
  }



  /* footer */
  #footer {
    padding: 30px 0 10px;
  }

  .footer-title,
  .sub-footer-item>a,
  .sub-footer-title {
    font-size: 15px;
  }

  .footer {
    object-fit: contain;
    width: 22%;
  }

  .img-footer-unesa {
    object-fit: contain;
    width: 15%;
  }

  .img-footer-group {
    margin-bottom: 20px;
  }

  .footer-text-mobile {
    display: block;
    color: #55B2DD;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 15px;
    text-align: center;
  }

  .social-media-group {
    justify-content: start;
    margin-bottom: 20px;
  }

}