@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F9F9;
}

.nav-custom {
  background-color: #f4f9f9;
}

.contact {
  background-color: #69B0D3;
  border-radius: 50px;
  margin-left: 50px !important;
  transition: .3s;
}

.contact:hover {
  background-color: #A4D5EB;
}

.contact-mobile {
  display: none;
}

.add-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.13);
  transition: .3s;
}

.nav-name {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #55B2DD !important;
  margin-right: 150px;
}

.nav-link {
  color: #69B0D3 !important;
  font-weight: 300;
}

.nav-link:active {
  color: #69B0D3 !important;
  font-weight: 300;
  border-bottom: #69B0D3 3px solid;
}

.nav-button {
  color: white !important;
}

.nav-name-sm {
  font-family: 'Mulish', sans-serif;
  font-weight: lighter;
  color: #69B0D3;
  font-size: 16px;
  z-index: 2;
}

/* contact us */
.sub-h3 {
  color: #55B2DD;
}

.sub-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.sub-p {
  color: #5E5E5E;
  font-size: 20px;
  line-height: 25px;
}

.isi {
  margin-top: 100px;
}

.contact-us {
  margin: 60px 0px 30px 0px;
}

.contact-us,
.back {
  width: 200px;
  background-color: #69B0D3;
  border-radius: 50px;
}

.contact-us:hover,
.back:hover {
  background-color: #A4D5EB;
}

.contact-us p,
.back p {
  padding: 8px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
}

.kanan {
  margin: 70px 0px;
}

.image-mobile {
  display: none;
}

@media screen and (min-width: 960px) {
  .nav-custom {
    height: 80px;
  }
}


@media screen and (max-width: 512px) {

  /* navbar */
  .custom-toggler.navbar-toggler {
    border: 0;
  }

  .custom-toggler.navbar-toggler {
    box-shadow: none;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105, 176, 211, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .contact-mobile {
    display: block;
    background-color: #69B0D3;
    border-radius: 50px;
    transition: .3s;
    text-align: center;
  }

  .contact-mobile:hover {
    background-color: #A4D5EB;
  }

  .contact {
    display: none;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105, 176, 211, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .kanan {
    margin: -20px 0px;
  }

  img {
    width: 100%;
  }

  .image {
    display: none;
  }

  .image-mobile {
    display: block;
  }

  .sub-h3 {
    font-size: 18px;
  }

  .sub-h1 {
    font-size: 30px;
  }

  .sub-p {
    font-size: 14px;
  }

  .contact-us {
    margin: 30px auto 10px;
  }

  .back {
    margin: 10px auto 30px;
  }

  .contact-us,
  .back {
    width: 120px;
  }

  .contact-us p,
  .back p {
    padding: 10px;
    font-size: 12px;
  }
}