@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F9F9;
}

.nav-custom {
  background-color: #f4f9f9;
  height: 80px;
}

.contact {
  background-color: #69B0D3;
  border-radius: 50px;
  margin-left: 50px !important;
  transition: .3s;
  }

  .contact:hover {
    background-color: #A4D5EB;
}

.add-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.13);
  transition: .3s;
}
.nav-name {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  color: #55B2DD !important;
  margin-right: 150px;
}

.nav-link {
  color: #69B0D3 !important;
  font-weight: 300;
}

.nav-button {
  color: white !important;
}

.nav-name-sm {
  font-family: 'Mulish', sans-serif;
  font-weight: lighter;
  color: #69B0D3;
  font-size: 16px;
  z-index: 2;
}

/* detail article */
.detail-news img{
  margin-top: 40px;
  height: 480px;
  border-radius: 30px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.13);
}

.sub-h3 {
  color: #55B2DD;
}

.sub-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.sub-p {
  color: #5E5E5E;
  font-size: 20px;
  line-height: 25px;
}

.isi {
  margin-top: 100px;
}

.back{
  margin-top: 70px;
  width: 250px;
  height: 60px;
  background-color: #69B0D3;
  border-radius: 50px;
}

.back:hover {
  background-color: #A4D5EB;
}

.back p{
  padding: 8px;
  font-size: 30px;
  font-family: 'Releway', sans-serif;
  color: #fff;
  text-align: center;
}

.kanan {
  margin: 70px 0px;
}


@media screen and (max-width: 512px) {

  /* navbar */
  .custom-toggler.navbar-toggler {
    border: 0;
  }

  .custom-toggler.navbar-toggler {
    box-shadow: none;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105, 176, 211, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}